<template>
	<view class="container">
		<my-search></my-search>
		<swiper :indicator-dots="true" :autoplay="true" :interval="3000" :duration="1000" circular="true">
			<swiper-item v-for="item in swiperList" :key="item.id"
				:style="{background:`linear-gradient(${item.background},#fff)`}">
				<image :src="item.imageUrl" mode=""></image>
			</swiper-item>
		</swiper>

		<view class="navs">
			<view class="" v-for="(item,i) in navList" :key="i" v-show="item.id!=8&&item.id!=9">
				{{item.name}}
			</view>
			<view class="">
				全部分类
			</view>
		</view>

		<view class="hot">
			<view class="hot-title">
				<p>热门推荐</p>
				<span class="icon-youjiantou">全部</span>
			</view>
			<swiper style="height: 1000rpx;" next-margin="40rpx">
				<swiper-item>
					<view class="box" v-for="(item,i) in hotList1" :key="i" @click="goDetail">
						<view class="img">
							<image :src="item.mainImage" mode="" style="width: 290rpx;height: 160rpx;"></image>
							<view class="time">
								{{item.totalTime}}
							</view>
						</view>
						<view class="small">
							<p class="title">{{item.title}}</p>
							<span class="name icon-jiaoshi">{{item.nickName}}</span>
							<view class="pricebox">
								<span class="price" v-if="item.isFree==0">免费</span>
								<span class="price icon-qiandai" v-else>{{item.priceOriginal}}</span>
								<p><span class="study icon-bofang_o">{{item.studyTotal}}</span>人在学</p>
							</view>
						</view>
					</view>
				</swiper-item>
				<swiper-item>
					<view class="box" v-for="(item,i) in hotList2" :key="i" @click="goDetail">
						<view class="img">
							<image :src="item.mainImage" mode="" style="width: 290rpx;height: 160rpx;"></image>
							<view class="time">
								{{item.totalTime}}
							</view>
						</view>
						<view class="small">
							<p class="title">{{item.title}}</p>
							<span class=" icon-jiaoshi">{{item.nickName}}</span>
							<view class="pricebox">
								<span class="price" v-if="item.isFree==0">免费</span>
								<span class="price icon-qiandai" v-else>{{item.priceOriginal}}</span>
								<p><span class="study icon-bofang_o">{{item.studyTotal}}</span>人在学</p>
							</view>
						</view>
					</view>
				</swiper-item>

			</swiper>
		</view>

		<view class="hot">
			<view class="hot-title">
				<p>付费精品</p>
				<span class="icon-youjiantou">全部</span>

			</view>
			<view class="box" v-for="(item,i) in payList" :key="i" @click="goDetail">
				<view class="img">
					<image :src="item.mainImage" mode="" style="width: 290rpx;height: 160rpx;"></image>
					<view class="time">
						{{item.totalTime}}
					</view>
				</view>
				<view class="small">
					<p class="title">{{item.title}}</p>
					<span class="name icon-jiaoshi">{{item.nickName}}</span>
					<view class="pricebox">
						<span class="price" v-if="item.isFree==0">免费</span>
						<span class="price icon-qiandai" v-else>{{item.priceOriginal}}</span>
						<p><span class="study icon-bofang_o">{{item.studyTotal}}</span>人在学</p>
					</view>
				</view>
			</view>
			<view class="" v-if="size*num>total">
				到底了
			</view>
		</view>
	</view>
</template>

<script>
	import api from "@/api/api.js"
	import mySearch from "@/components/mySearch/mySearch.vue"
	export default {
		components: {
			mySearch
		},
		data() {
			return {
				swiperList: [],
				navList: [],
				hotList1: [],
				hotList2: [],
				payList: [],
				size: 10,
				num: 1,
				total: 0,
				flag: false

			}
		},
		onLoad() {
			//调用轮播
			this.loadBannerData();
			this.getNav();
			this.getHot();
			this.getPay();
		},

		onReachBottom() {
			if (this.flag) {
				return
			}
			if (this.payList.length < this.total) {

				// console.log(this.total, this.payList.length)
				// console.log(1)
				this.num++
				this.getPay(true)
			}
		},
		onPullDownRefresh() {
			this.swiperList = []
			this.navList = []
			this.hotList1 = []
			this.hotList2 = []
			this.payList = []
			this.num = 1
			this.total = 0

			this.loadBannerData();
			this.getNav();
			this.getHot();
			this.getPay();
			setTimeout(function() {
				uni.stopPullDownRefresh();
			}, 1000);
		},
		methods: {
			// 查询轮播图数据
			async loadBannerData() {
				const {
					data
				} = await api.getAdvertList(1);
				// console.log("data", data);
				this.swiperList = data;
			},
			async getNav() {
				const {
					data
				} = await api.getCategoryList()
				// console.log(data)
				this.navList = data
			},
			async getHot() {
				const {
					data
				} = await api.getList({
					sort: "hot",
					current: 1,
					size: 5
				})
				// console.log(data)
				for (var i = 0; i < data.records.length; i++) {
					if (i < 5) {
						this.hotList1.push(data.records[i])
					} else if (i >= 5) {
						this.hotList2.push(data.records[i])
					}
				}

			},
			async getPay(boll) {
				this.flag = true
				const {
					data
				} = await api.getList({
					isFree: 0,
					current: this.num,
					size: this.size
				})
				// console.log(data)
				let arr = data.records
				this.total = data.total
				if (boll) {
					this.payList = [
						...arr,
						...data.records
					]
					// console.log(this.payList)
				} else {
					this.payList = arr || []
				}
				this.flag = false
			},
			goDetail() {
				// console.log(1)
				uni.navigateTo({
					url: "/pages/detail/detail"
				})
			},
		}

	}
</script>

<style lang="scss" scoped>
	.container {
		font-family: "iconfont";
	}

	my-saerch {
		position: fixed;
		top: 0;
		left: 0;
	}

	swiper {
		width: 100%;
		height: 470rpx;

		swiper-item {
			width: 100%;
			height: 100%;
			// padding-top: 80rpx;

			image {
				width: 90%;
				height: 350rpx;
				border-radius: 14rpx;
				margin: 5% auto;
				display: block;
			}
		}
	}

	.navs {
		width: 95%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: auto;

		view {
			width: 160rpx;
			height: 70rpx;
			box-sizing: border-box;
			text-align: center;
			line-height: 70rpx;
			background-color: #f8f9fb;
			margin-top: 14rpx;
			border-radius: 10rpx;

		}
	}

	.hot {
		width: 95%;
		margin: auto;

		.hot-title {
			width: 100%;
			height: 80rpx;
			line-height: 80rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				font-size: 36rpx;
			}

			span {
				color: #bfc4c9;
			}

			.icon-youjiantou {
				font-family: "iconfont";
			}
		}

		.box {
			width: 100%;
			height: 200rpx;
			display: flex;

			.img {
				position: relative;

				.time {
					position: absolute;
					bottom: 32rpx;
					right: 4rpx;
					font-size: 22rpx;
					color: #fff;
					background: rgba(51, 51, 51, .4);
					border-radius: 20rpx;
					padding: 0 8rpx;
				}
			}

			.small {
				padding-left: 20rpx;

				.title {
					font-weight: bold;
					font-size: 28rpx;
				}

				.name {
					display: block;
					font-size: 22rpx;
					margin-top: 20rpx;
					font-family: "iconfont";
				}

				.pricebox {
					display: flex;

					// justify-content: space-around;
					.price {
						color: #fb6932;
						font-size: 28rpx;
						display: block;
						margin-right: 20rpx;
						font-family: "iconfont";
					}

					.study {
						font-size: 22rpx;
						font-family: "iconfont";
					}
				}
			}
		}
	}

	.pay {}
</style>
