@font-face {
  font-family: "iconfont"; /* Project id 2985519 */
  src: url('iconfont.woff2?t=1638514018576') format('woff2'),
       url('iconfont.woff?t=1638514018576') format('woff'),
       url('iconfont.ttf?t=1638514018576') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31huidaodingbu:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e622";
}

.icon-bofang_o:before {
  content: "\eb5e";
}

.icon-laba:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-youjiantou:before {
  content: "\e667";
}

.icon-jiaoshi:before {
  content: "\e722";
}

.icon-qiandai:before {
  content: "\e770";
}

.icon-a-tupianyihuifu-54:before {
  content: "\e60f";
}

.icon-xunzhang:before {
  content: "\fb00";
}

