<template>
	<view class="search">
		<view class="top">
			<view @click="back" class="uni-btn-icon">
				< </view>
					<view class="">
						<input type="text" value="" placeholder="搜索你想要的内容" />
					</view>
					<view class="">
						取消
					</view>
			</view>
			<view class="hot">
				<view class="">
					热门搜索
				</view>
				
			</view>
		</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		},
		methods: {
			back() {
				uni.navigateBack({
					delta: 1
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.search {
		width: 100%;

		.top {
			display: flex;
			justify-content: space-between;

		}
	}
</style>
