<template>
	<view class="my">
		<view class="img">
			<image src="https://img.yzcdn.cn/vant/cat.jpeg" mode=""></image>
		</view>
		<button type="default" @click="login">登录</button>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {
			login() {
				uni.navigateTo({
					url: "/pages/login/login"
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.my {
		width: 100%;
		height: 100%;

		.img {
			width: 100%;
			height: 400rpx;
			border: 1px solid #333;

			image {
				display: block;
				margin: auto;
			}
		}
	}
</style>
