<template>
	<view class="read">
		<u-tabs :list="navList" @click="tabs" :current="tabId" :activeStyle="{
						color: '#007aff',
						transform: 'scale(1.05)'
					}"></u-tabs>
		<swiper :duration="1000" :indicator-dots="false" :current="tabId" :style="{ height: heigtTop + 'rpx' }"
			@change="changeId">
			<swiper-item v-for="item in navList" :key="item.id">
				<view class="swiper-item" v-for="(item,i) in readList" :key="item.id" @click="goDetail" >
					<view class="content">
						<view class="title">
							{{item.title}}
						</view>
						<view class="introduce">
							{{item.summary}}
						</view>
						<view class="box">
							<view class="name">
								{{item.nickName}}·
							</view>
							<view class="time">
								{{item.updateDate}}·
							</view>
							<view class="count">
								{{item.viewCount}}赞
							</view>
						</view>
					</view>
					<view class="img">
						<image :src="item.imageUrl" mode=""></image>

					</view>
				</view>
			</swiper-item>
		</swiper>
	</view>
</template>

<script>
	import api from "@/api/api.js"
	export default {
		data() {
			return {
				navList: [],
				tabId: 0,
				readList: [],
				total: 0,
				size: 10,
				num: 1,
				heigtTop: 0
			}
		},
		onLoad() {
			this.getNav()
			this.getList()
		},
		methods: {
			async getNav() {
				const {
					data
				} = await api.getRead()
				// console.log(data)
				this.navList = data
			},
			tabs(item) {
				// console.log(item)
				this.tabId = item.index
				this.getList()
			},
			changeId(item) {
				// console.log(item)
				this.tabId = item.detail.current
				this.getList()
			},
			async getList() {
				let options = {
					categoryId: this.tabId,
					current: this.num,
					size: this.size
				}
				const {
					data
				} = await api.getReadList(options)
				// console.log(data)
				this.readList = data.records
				this.total = data.total
				this.heigtTop = this.readList.length * 242
			},
			goDetail(){
				uni.navigateTo({
					url:"/pages/detail/detail"
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.read {
		width: 100%;

		.tab {
			width: 100%;
			height: 80rpx;
			display: flex;
			flex-wrap: nowrap;

			// overflow-x: scroll;
			view {
				width: 150rpx;
				text-align: center;
				line-height: 80rpx;
			}
		}

		.swiper-item {
			width: 100%;
			height: 242rpx;
			display: flex;
			padding: 30rpx;
			box-sizing: border-box;

			.content {
				flex: 1;

				.title {
					font-size: 34rpx;
					font-weight: 600;
				}

				.introduce {
					font-size: 26rpx;
					color: #999;
					width: 466rpx;
					height: 40rpx;
					line-height: 40rpx;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 10rpx;
				}

				.box {
					display: flex;
					color: #999;
					font-size: 26rpx;

					.name {
						color: #333;
					}

				}
			}

			.img {
				width: 220rpx;
				height: 140rpx;

				image {
					width: 220rpx;
					height: 140rpx;
				}
			}
		}
	}
</style>
