<template>
	<view class="cate">
		<view class="left">
			<view class="name" v-for="(item,i) in list" :key="i" @click="tab(i)" :class="id===i?'active':''">
				{{item.name}}
			</view>
		</view>
		<view class="right">
			<view class="box">
				<view class="childName" v-for="(item,i) in list[id].labelList" :key="item.id">
					{{item.name}}
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import api from "../../api/api.js"
	export default {
		data() {
			return {
				list: [],
				id: 0
			}
		},
		onLoad() {
			this.getList()
		},
		methods: {
			async getList() {
				const {
					data
				} = await api.getCategoryList()
				// console.log(data)
				this.list = data
			},
			tab(i) {
				// console.log(i)
				this.id = i

			}
		}
	}
</script>

<style lang="scss" scoped>
	.cate {
		width: 100%;
		height: 1184rpx;
		display: flex;

		.left {
			width: 200rpx;
			height: 100%;
			overflow-y: scroll;
			background-color: #f8f9fb;

			.name {
				width: 200rpx;
				height: 148rpx;
				text-align: center;
				line-height: 140rpx;
				font-size: 30rpx;
			}

			.active {
				color: #345dc2;
				font-size: 32rpx;
				font-weight: 700;
				border-left: 3rpx solid #345dc2;
			}

		}

		.right {
			flex: 2;
			height: 100%;

			.box {
				padding-top: 34rpx;
				padding-left: 10rpx;
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				.childName {
					height: 64rpx;
					line-height: 64rpx;
					font-size: 24rpx;
					border: 2rpx solid #999;
					border-radius: 30rpx;
					width: 160rpx;
					text-align: center;
					padding: 0 4rpx;
					margin: 14rpx 4rpx;
				}
			}


		}
	}
</style>
