<template>
	<view class="content">
		<view class=" content_title">
			<text class="iconfont icon-xiangzuojiantou" @click="toindex"></text>
			<image class="images" :src="item.mainImage"></image>
		</view>
		<view class="kong"></view>
		<view class="introduce">
			<view class="introduce_piece">
				<text class="saleprice">￥{{item.priceDiscount}}</text>
				<text class="originalprice">￥{{item.priceOriginal}}</text>
				<text class="onsale ">优惠价</text>
			</view>
			<view class="introduce_title">
				{{item.title}}
			</view>
			<view class="introduce_good">
				<view class="introduce_good1"><text class="iconfont icon-huaduo"></text>{{item.goodRate}}好评</view>
				<view class="introduce_good2"><text class="iconfont icon-yonghutianchong">{{item.studyTotal}}人在学</text>
				</view>
			</view>
		</view>
		<view class="kong"></view>
		<!-- tab切换 -->
		<u-tabs :list="list1" @click="click" class="fonts"></u-tabs>
		<!-- 详情 -->
		<view class="detailImg" v-show="index==0">
			<image class="detailImgG" :src="item.detailUrls[0]" mode="widthFix"></image>
		</view>
		<!-- 章节 -->
		<view class="" v-show="index==1">
			<view class="" v-for="(items,index) in getsChapterNullList" :key="index">
				<view class="Chapter_title">第{{index+1}}章 {{items.name}}</view>
				<view v-for="(itemss,indexs) in items.sectionList" :key="indexs">
					<view class="Chapter_name">{{index+1}}-{{indexs+1}} {{itemss.name}}</view>
				</view>
			</view>
		</view>
		<!-- 评论 -->
		<view class="comment_boxG" v-show="index==2">
			<view class="comment_boxs" v-for="(items,index) in getsCommentNullList" :key="index">
				<view class="comment_box_top">
					<view class="comment_box_img">
						<image class="comment_box_imgG" :src="items.userImage"></image>
					</view>
					<view class="comment_box_zhong">
						<text class="comment_box_nickName">{{items.nickName}}</text>
						<text class="comment_box_createDate">{{items.createDate}}</text>
					</view>
					<view class="comment_box_huaduo"><text class="iconfont icon-huaduo"></text></view>
				</view>

				<view class="comment_box_center">
					{{items.content}}
				</view>
				<view class="comment_box_bottom">

					讲师回复:{{items.children==null? '你个垃圾' : items.children.content }}


				</view>
			</view>
		</view>
		<!-- 套餐 -->
		<view class="" v-show="index==3">
			<view class="setMeal_box" v-for="(item,index) in getSsetmealNullList" :key="index">
				<view class="setMeal_box_title">{{item.title}}</view>
				<view class="content_for" v-for="(items,index) in item.list" :key="index" @click="toDetail">
					<view class="content_for_left_img">

						<image class="content_for_left" :src="items.mainImage"></image>
					</view>

					<view class="content_for_right">
						<text class="content_for_title"> {{items.title}}</text>
						<text class="content_for_nickName"> <text
								class="iconfont icon-yonghu1"></text>{{items.nickName}}</text>
						<view class="content_for_bottom">
							<text class="content_for_priceOriginal"> <text class="iconfont icon-qiandai"></text>
								{{items.priceOriginal}}</text>
							<text class="content_for_commTotal"> <text class="iconfont icon-bofang"></text>
								{{items.commTotal}}</text>
						</view>
					</view>
				</view>
				<view class="setMeal_box_bottom">
					<text class="setMeal_box_groupPrice">￥{{item.groupPrice}}</text>
					<text class="setMeal_box_totalPrice">￥{{item.totalPrice}}</text>
					<text class="setMeal_box_add">购买套餐</text>
				</view>
			</view>
		</view>
		<view class="atOnce">
			立即购买
		</view>
	</view>
</template>

<script>
	// import {
	// 	getsCourseNull,
	// 	getsChapterNull,
	// 	getsCommentNull,
	// 	getSsetmealNull
	// } from '@/api/api.js'
	import api from "@/api/api.js"
	export default {
		data() {
			return {
				item: {},
				index: 0,
				getsChapterNullList: [],
				getsCommentNullList: [],
				getSsetmealNullList: [],
				list1: [{
					name: '详情',
				}, {
					name: '章节',
				}, {
					name: '评论'
				}, {
					name: '套餐'
				}]
			}
		},
		onLoad(option) {
			this.getData()
			console.log(option);
			this.getchap()
			this.getcom()
			this.getset()
			// getsChapterNull().then(res => {
			// 	// console.log(67,res);
			// 	this.getsChapterNullList = res.data.data
			// })
			// getsCommentNull().then(res => {
			// 	// console.log(res.data.data);
			// 	this.getsCommentNullList = res.data.data
			// })
			// getSsetmealNull().then(res=>{
			// 	console.log(res);
			// 	this.getSsetmealNullList = res.data.data
			// })
		},
		methods: {
			async getData() {
				const {
					data
				} = await api.getsCourseNull()
				// console.log(data)
				this.item = data
				// getsCourseNull().then(res => {
				// 	this.item = res.data.data
				// })
			},
			async getchap() {
				const {
					data
				} = await api.getsChapterNull()
				this.getsChapterNullList = data
			},
			async getcom() {
				const {
					data
				} = await api.getsCommentNull()
				this.getsCommentNullList = data
			},
			async getset() {
				const {
					data
				} = await api.getSsetmealNull()
				this.getSsetmealNullList = data
			},
			toindex() {
				uni.navigateBack()
			},
			click(item) {
				// console.log('item', item);
				this.index = item.index
			}
		}
	}
</script>

<style lang="scss">
	.content {
		width: 100%;

		.content_title {
			width: 100;
			height: 400rpx;
			position: relative;

			.images {
				width: 100%;
				height: 400rpx;
			}

			.icon-xiangzuojiantou {
				width: 30rpx;
				height: 30rpx;
				text-align: center;
				position: absolute;
				border-radius: 50%;
				line-height: 30rpx;
				color: #fff;
				left: 10rpx;
				top: 5rpx;
				background-color: rgba(32, 28, 28, 0.6);
				z-index: 99;
			}
		}

		.kong {
			width: 100%;
			height: 30rpx;
			background-color: #eee;
		}

		.introduce {
			width: 100%;
			height: 242rpx;

			.introduce_good {
				width: 90%;
				margin: 0 auto;
				display: flex;

				.introduce_good1,
				.introduce_good2 {
					width: 145rpx;
					height: 50rpx;
					text-align: center;
					color: #7d828f;
					background-color: #f8f9fb;
					line-height: 50rpx;
					border-radius: 30rpx;
					font-size: 20rpx;

					.icon-huaduo {
						font-size: 20rpx;
						margin-right: 6rpx;
					}

					.icon-yonghutianchong {
						margin-right: 6rpx;
						font-size: 20rpx;
					}
				}
			}

			.introduce_title {
				width: 90%;
				margin: 0 auto;
				font-size: 36rpx;
			}

			.introduce_piece {
				padding-top: 20rpx;
				width: 90%;
				margin: 0 auto;
				height: 60rpx;

				.saleprice {
					display: inline-block;
					font-size: 36rpx;
					color: red;
					font-weight: 500;
				}

				.originalprice {
					display: inline-block;
					text-indent: 1rem;
					font-size: 30rpx;
					color: #eee;
				}

				.onsale {
					display: inline-block;
					margin-left: 10rpx;
					padding: 5rpx 10rpx;
					border: 1rpx solid red;
					color: red;
					border-radius: 30rpx;

				}
			}
		}

		.fonts {
			font-size: 28rpx;
		}

		.detailImg {
			width: 750rpx;

			.detailImgG {
				width: 100%;
				height: 100%;
			}
		}

		.Chapter_title {
			width: 90%;
			margin: 0 auto;
			height: 80rpx;
			line-height: 80rpx;
			font-size: 36rpx;
			font-weight: 600;

		}

		.Chapter_name {
			width: 90%;
			margin: 0 auto;
			height: 60rpx;
			line-height: 60rpx;
			font-size: 24rpx;
			border-bottom: 1rpx solid #ccc;

		}

		.comment_boxG {
			width: 750rpx;

			.comment_boxs {
				width: 96%;
				margin: 0 auto;
				height: 240rpx;
				border: 1prx solid #C0C0C0;

				.comment_box_top {
					width: 96%;
					margin: 0 auto;
					padding-top: 10rpx;
					height: 80rpx;
					display: flex;
					align-items: center;

					.comment_box_img {
						width: 80rpx;
						height: 80rpx;
						flex: 1.4;

						// border-radius: 50%;
						.comment_box_imgG {
							width: 100%;
							height: 100%;
							border-radius: 50%;
						}
					}

					.comment_box_zhong {
						margin-left: 10rpx;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						flex: 8;

						.comment_box_nickName {
							font-size: 26rpx;
							font-weight: 400;
						}
					}

					.comment_box_huaduo {
						flex: 1;

						.icon-huaduo {
							font-size: 28rpx;
							color: red;
						}
					}
				}

				.comment_box_center {
					width: 96%;
					margin: 0 auto;
					font-size: 26rpx;
					height: 40rpx;
					line-height: 40rpx;
				}

				.comment_box_bottom {
					width: 96%;
					height: 90rpx;
					background-color: #F8F9FB;
					font-size: 28rpx;
					border-radius: 10rpx;
					padding: 10rpx;

				}
			}
		}

		.setMeal_box {
			width: 96%;
			margin: 10rpx auto;
			border-radius: 20rpx;
			background: #f0f2f0;
			/* fallback for old browsers */
			background: -webkit-linear-gradient(to bottom, #f0f2f0, #000c40);
			/* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to bottom, #f0f2f0, #000c40);

			.setMeal_box_title {
				height: 60rpx;
				line-height: 60rpx;
				margin-top: 10rpx;
				margin-left: 20rpx;
				font-size: 28rpx;

			}

			.content_for {
				padding: 20rpx;
				display: flex;

				.content_for_left_img {
					width: 293rpx;
					height: 162rpx;

					.content_for_left {
						width: 293rpx;
						height: 162rpx;
						border-radius: 20rpx;
					}
				}

				.content_for_right {
					margin-left: 10rpx;
					display: flex;
					flex-direction: column;

					.content_for_title {
						width: 98%;
						font-size: 26rpx;
						font-weight: 500;
					}

					.content_for_nickName {
						color: #ccc;

						.icon-yonghu1 {
							margin-right: 6rpx;
							font-size: 24rpx;
						}

						margin-top: 10rpx;

						font-size: 24rpx;
					}

					.content_for_bottom {
						margin-top: 10rpx;

						.content_for_priceOriginal {
							font-size: 24rpx;
							color: #fb6932;

							.icon-qiandai {
								font-size: 24rpx;
								margin-right: 6rpx;
							}
						}

						.content_for_commTotal {
							display: inline-block;
							margin-left: 20rpx;
							font-size: 24rpx;

							.icon-bofang {
								font-size: 24rpx;
								margin-right: 6rpx;
							}
						}
					}
				}

			}

			.setMeal_box_bottom {
				width: 96%;
				height: 60rpx;
				line-height: 60rpx;
				margin: 0 auto;
				display: flex;

				.setMeal_box_groupPrice {
					flex: 1;
					font-size: 28rpx;
					color: red;
				}

				.setMeal_box_totalPrice {
					flex: 7;
					font-size: 24rpx;
					color: #ccc;
				}

				.setMeal_box_add {
					flex: 2;
					font-size: 28rpx;
					color: red;
				}
			}
		}

		.atOnce {
			position: fixed;
			left: 2%;
			bottom: 0;
			z-index: 333;
			width: 96%;
			height: 60rpx;
			font-size: 24rpx;
			border-radius: 30rpx;
			line-height: 60rpx;
			color: #fff;
			background-color: #345DC2;
			text-align: center;
		}
	}
</style>
