<template>
	<view>
		<u--input placeholder="请输入手机号码" border="surround" v-model="tel" @change="change"></u--input>
		<u--input placeholder="请输入手机验证码" border="surround" v-model="pass" @change="change"></u--input>
		<button type="default" @click="login">登录</button>
	</view>
</template>

<script>
	import api from "@/api/api.js"
	export default {
		data() {
			return {
				tel: '',
				pass: '',
				user:[]
			};
		},
		methods: {
			async login() {
				const {
					data
				} = await api.getCode({
					mobile: this.tel,
					code: this.pass
				})
				console.log(data)
				this.user=data
			}
		}
	}
</script>

<style lang="scss">

</style>
