<template>
	<view class="search">
		<view class="input icon-sousuo" @click="goto" >
			搜索你想要的内容
		</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		},
		methods: {
			goto() {
				uni.navigateTo({
					url: "/components/search/search"
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.search {
		width: 100%;
		height: 80rpx;
		// background-color: #0072b7;
		display: flex;
		align-items: center;
		text-align: center;

		.input {
			background-color: #fff;
			text-align: center;
			width: 90%;
			height: 80%;
			line-height: 60rpx;
			border-radius: 30rpx;
			margin: auto;
			font-family: "iconfont";
		}

	}
</style>
